@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --color-background: 240, 240, 245; /* Soft off-white, like aged newspaper */
  --color-foreground: 30, 30, 30; /* Dark ink-like text */

  --color-card: 248, 250, 252;
  --color-card-text: 40, 40, 40;

  --color-card-border: 220, 220, 220;
  --color-border: 185, 178, 170; /* Light grayish border like newspaper columns */
}

.dark {
  --color-background: 25, 25, 25; /* Deep charcoal for dark mode */
  --color-foreground: 220, 220, 220; /* Soft grayish-white for text */
  --color-card: 31, 31, 34;
  --color-card-text: 228, 228, 231;
  --color-card-border: 50, 50, 50;

  --color-border: 70, 70, 70; /* Subtle dark gray border */
}

body {
  transition-property: opacity, transform, filter;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;

  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;

  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.page-transition-out {
  opacity: 0;
  transform: translateX(10px) scale(0.98);
  filter: blur(8px);
  pointer-events: none;
}

.page-transition-in {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full m-0.5 text-gray-700 hover:text-black dark:text-black/70 text-sm font-semibold hover:bg-black/10  transition duration-300;
  }
}
